<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <title>Formulário</title>
    </head>

    <header>
        <div class="siteHeader">
            <img class="logo-img" src="images/LogoAgrotoolsNew.png" alt="Logo Agrotools">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <nav>
                <ul>
                    <li><a href="/create">Create</a></li>
                    <li><a href="javascript:void(0)">Answer</a></li>
                    <li><a href="javascript:void(0)">Check forms</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <div class="quest-container">

            <h2>Questionário <%= questId %>  :</h2>
            <form action="/create" method="POST" class="quest-form">
                <label for="name">Nome completo:</label><br>
                <input type="text" name="name" ><br>
                <label for="dateAns">Data de cadastro:</label><br>
                <input type="date" name="dateAns" >

                <h3>Localização</h3><br>
                <label for="lat">Latitude:</label><br>
                <input type="text" name="lat" ><br>
                <label for="long">Longitude:</label><br>
                <input type="text" name="long" ><br>
                
                <% if(questions.length){ %> 
                    <% questionId = 0; %> 
                    <% questions.forEach(function(item) { %>
                        <label for="<%= questionId %>"> <%= item %>  :</label><br>
                        <input type="text" name="<%= questionId %>" ><br> 
                        <% questionId += 1 %> 
                    <% }) %>
                <% } %>      
                
                <h2>Add new item:</h2>

                <div class="add-form">
                    <input type="text" name="newItem" placeholder="New question" autocomplete="off">
                    <button class="add-btn" type="submit" name="button" value="add">+</button>
                </div>

                <button class="quest-btn" type="submit" value="save">Save</button>
            </form>
        </div>
    </body>
</html>