<%- include('partials/header') %>

    <body>
        <div class="quest-container">

            <h2>Questionário <%= questId %>  :</h2>
            <form action="/" method="POST" class="quest-form">
                <label for="name">Nome completo:</label><br>
                <input type="text" name="name" required><br>
                <label for="dateAns">Data de cadastro:</label><br>
                <input type="date" name="dateAns" required>
                <label for="question1">Questão 1:</label><br>
                <input type="text" name="question1" required><br>
                <label for="question2">Questão 2:</label><br>
                <input type="text" name="question2" required><br>
                <button class="quest-btn" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>