<%- include('partials/header') %>

<body>
    <div class="home-container">
        <h2>Create:</h2>
        <p>Criar um question치rio novo.</p>
        <h2>Answer:</h2>
        <p>Responder um question치rio que j치 foi criado</p>
        <h2>Check forms:</h2>
        <p>Visualizar question치rios respondidos</p>
    </div>
</body>
</html>