html,body {
  height: 100%;
}

body {
  background-color: #f5f5f505;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

header{
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: #aeacbd;
  box-shadow: 0 0 1em black;
}


nav{
  display: inline-block;
  align-items: center;
  width: 20%;
  justify-content: center;
  margin: auto 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  text-decoration: none;
  color: rgb(83, 81, 81);
}

.add-form{
  display: flex;
  align-items: center;
  margin: 10px 3px 30px 3px;
  FONT-WEIGHT: 100;
  width: 100%;
  height: 80px;
}

.add-btn{
  margin-left: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #6ab774;
  color: #fff;
  font-size: 20px;
  padding-bottom: 3px;
  padding-right: 8px;
  border-width: 0;

}

.add-btn:disabled{
  background-color: #cccccc;
}

.add-item{
  align-self: flex-start;
  color: #4e4850;
  font-weight: bold;
}
.ans-input{
  border: none;
  background-color: #f4ecf9;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%)
}

.answer-table{
  width: 100%;
}

.answer-table th{
  width: 33.33%;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
.close-modal {
  display: none;
}

#check{
  display: none;
}

.forms-table{
  width: 100%;
}

.forms-table th{
  width: 25%;
}
.logo-img{
  display: flex;
  margin: 20px;
}

.quest-container{
  background: #fbf5ff;
  position: static;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 40px;
  width: 70%;
  box-shadow: 0 0 1em #b5b2b2;
  margin: 70px auto;
  overflow: hidden;
}

.quest-container h3{
  align-self: flex-start;
  color: #550073;
  margin-top: 3%;
  font-weight: bold;
}

.quest-form{
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.quest-btn, .mod-btn, .backButton{
  background-color: #047499;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 80%;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin: auto;
  align-self: center;
}

.quest-form button:hover {
  background-color: #0799ca; 
  color: white;
}

.quest-form input{
  width: 100%;
  padding: inherit;
  padding-left: 10px;
  height: 30px;
}

.quest-form input[name=name]{
  width: 80%;
}

.quest-form input[name=dateAns]{
  width: 170px;
}

.quest-form label{
  float: left;

}

.modal-form{
  display: flex;
  flex-direction: column;
}

.page-title{
  margin-top: 190px;
  justify-content: center;
  display: flex;
  font-family: Helvetica, sans-serif;
  color:#8a7798;
}

.page-subtitle{
  align-self: flex-start;
  color: #763e8a;
  font-weight: bold;
  font-family: Helvetica, sans-serif; 
}

.siteHeader{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 120px;  
}

.siteHeader a:hover {
  color: rgb(152, 221, 221);
}

@media screen and (max-width: 800px) {
  
  .checkbtn{
    display: block;
  }

}