html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

header{
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: #aeacbd;
  box-shadow: 0 0 1em black;
}


nav{
  display: inline-block;
  align-items: center;
  width: 300px;
  justify-content: center;
  margin: auto 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  text-decoration: none;
  color: rgb(83, 81, 81);
}

.add-form{
  display: flex;
  align-items: center;
  margin: 10px 3px 30px 3px;
  FONT-WEIGHT: 100;
  width: 100%;
  height: 80px;
}

.add-btn{
  margin-left: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #6ab774;
  color: #fff;
  font-size: 20px;
  padding-bottom: 3px;
  padding-right: 8px;
  border-width: 0;

}

.add-btn:disabled{
  background-color: #cccccc;
}

.add-item{
  align-self: flex-start;
  color: #4e4850;
  font-weight: bold;
}
.ans-input{
  border: none;
  background-color: #f4ecf9;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%)
}

.answer-table{
  width: 100%;
}

.answer-table th{
  width: 33.33%;
}

.bottom-container{
  height: 70px;
  bottom: 0;
  width: 100%;
  padding-bottom: 40px;
  box-shadow: 0 0 1em #c5c5c5;
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
.close-modal {
  display: none;
}

#check{
  display: none;
}

.fas fa-bars{
  position: absolute;
  right: 20px;
  top: 45px;
}
.footer-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

footer h4{
  justify-content: center;
  display: flex;
  margin: 20px auto 0px;
}

.forms-table{
  width: 100%;
}

.forms-table th{
  width: 25%;
}
.logo-img{
  display: flex;
  margin: 20px;
}

.home-container{
  background: #fbf5ff;
  position: static;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 40px;
  width: 70%;
  box-shadow: 0 0 1em #b5b2b2;
  margin: 170px auto;
  overflow: hidden;  
}

.home-container h2{
  color: #451288;
  font-family: Helvetica, sans-serif;
}
.icon-img{
  width: 30px;
  margin: 20px 10px;
}

.icon-container{
  display: flex;
  align-content: center;
  margin-right: 70px;
  justify-content: flex-end;
}

.quest-container{
  background: #fbf5ff;
  position: static;
  display: flex;
  flex-direction: column;
  padding: 20px 30px 40px;
  width: 70%;
  box-shadow: 0 0 1em #b5b2b2;
  margin: 70px auto;
  overflow: hidden;
}

.quest-container h3{
  align-self: flex-start;
  color: #550073;
  margin-top: 3%;
  font-weight: bold;
}

.quest-form{
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.quest-btn, .mod-btn, .backButton{
  background-color: #047499;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 80%;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin: auto;
  align-self: center;
}

.quest-form button:hover {
  background-color: #0799ca; 
  color: white;
}

.quest-form input{
  width: 100%;
  padding: inherit;
  padding-left: 10px;
  height: 30px;
}

.quest-form input[name=name]{
  width: 80%;
}

.quest-form input[name=dateAns]{
  width: 170px;
}

.quest-form label{
  float: left;

}

.modal-form{
  display: flex;
  flex-direction: column;
}

.page-title{
  margin-top: 170px;
  justify-content: center;
  display: flex;
  font-family: Helvetica, sans-serif;
  color:#dad8dc;
}

.page-subtitle{
  align-self: flex-start;
  color: #763e8a;
  font-weight: bold;
  font-family: Helvetica, sans-serif; 
}

.siteHeader{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 120px;  
}

.siteHeader a:hover {
  color: rgb(152, 221, 221);
}

.siteHeader {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.siteHeader ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.siteHeader li a {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}

.siteHeader li a:hover,
.siteHeader .menu-btn:hover {
  background-color: #f4f4f4;
}

.siteHeader .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


.siteHeader .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  display: flex;
}

.siteHeader .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.siteHeader .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.siteHeader .menu-icon .navicon:before,
.siteHeader .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.siteHeader .menu-icon .navicon:before {
  top: 5px;
}

.siteHeader .menu-icon .navicon:after {
  top: -5px;
}

.siteHeader .menu-btn {
  display: none;
}

.siteHeader .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.siteHeader .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.siteHeader .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.siteHeader .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.siteHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.siteHeader .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

table a{
  text-decoration: none;
}

table a:hover{
  color: rgb(152, 221, 221);
}

.wrapper{
  width: 100%;
  position: relative;
  min-height: 100%;
}
@media screen and (max-width: 800px) {
  
  .checkbtn{
    display: block;
  }

}

@media (min-width: 48em) {
  .siteHeader li {
    float: left;
  }
  .siteHeader li a {
    padding: 20px 30px;
  }
  .siteHeader .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .siteHeader .menu-icon {
    display: none;
  }
}
